{% load static %}
<html style="background:url({% static "fon.png" %}) no-repeat center center fixed;
        background-color: #0f1161;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;">
<head>
    <title>Веб-журнал успеваемости студентов</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="robots" content="nocache">
    <link rel="stylesheet" href="{% static "style/style_pages.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static 'style/style_ui_base.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'style/style_portfolio.css' %}" type="text/css">
    <script src="{% static 'js/Result.js' %}"></script>
</head>
<body>
<header id="header">
    <div>
        <div>
            <a class="title" href="">Веб-журнал успеваемости студентов</a>
        </div>
        <div class="div_user">{{ student.fio }} {{ student.name }}</div>
        <div style="text-align: right; max-width: 35px;">
            <a href="/logout"><img height="28px" width="28px" src="{% static "icons/exit-white.png" %}" alt="Выход"></a>
        </div>
    </div>
</header>
<div id="body">
    <div id="div-main-transparent">
        <div id="menu-portfolio">
            <div class="no-active" style="max-width: 170px;">
                <a href="{% url "home" %}">
                    <div><img src="{% static 'icons/data.png' %}"></div>
                    <div><span>Мои<br>сведения</span></div>
                </a>
            </div>
            <div class="no-active" style="max-width: 270px;">
                <a href="{% url "raspisanie" %}">
                    <div><img src="{% static 'icons/raspisanie.png' %}"></div>
                    <div><span>Моё<br>расписание</span></div>
                </a>
            </div>
            <div class="no-active" style="max-width: 190px;">
                <a href="{% url "grade_current" %}">
                    <div><img src="{% static 'icons/result.png' %}"></div>
                    <div><span>Моя<br>успеваемость</span></div>
                </a>
            </div>
            <div class="active" style="max-width: 270px;">
                <a href="#">
                     <div><img src="{% static 'icons/reiting.png' %}"></div>
                    <div><span>Мой<br>рейтинг</span></div>
                </a>
            </div>
        </div>
        <div id="portfolio-main-div">
            <h1>Ваше место в группе №{{ mesto }}</h1>
            <table class="newsimpletable">
                    <thead>
                    <tr>
                        <th style="width: fit-content; text-align: center">Позиция</th>
                        <th>ФИО</th>
                        <th>Средний балл</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr><td class="cell-style-transparent"></td></tr>
                    {% for dat in dats %}
                        <tr>
                            <td style="text-align: center"><b>{{ dat.position }}</b></td>
                            <td style="text-align: center"><b>{{dat.data.get_short}}</b></td>
                            <td style="text-align: center"><b>{{dat.sum_bal}}</b></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
        </div>
    </div>
</div>
</div>
</body>
</html>